<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636423138118-pkcls4grc8pv4clon43hnkquiinpqoue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636423138118-pkcls4grc8pv4clon43hnkquiinpqoue</string>
	<key>API_KEY</key>
	<string>AIzaSyAo3vFEJu-cSmX9C99AlKgLyG1dpUKRa-M</string>
	<key>GCM_SENDER_ID</key>
	<string>636423138118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.algopedia.Insta</string>
	<key>PROJECT_ID</key>
	<string>instagram-f17be</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-f17be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636423138118:ios:ffa7d7f053212eec335347</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-f17be.firebaseio.com</string>
</dict>
</plist>